# Dependencies
node_modules/
package-lock.json

# Environment
.env
.DS_Store
debug*.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# User Uploads (Keep the directory, ignore content)
/photos/*
!/photos/.gitkeep
/logos/*
!/logos/.gitkeep

# Ignore uploaded images in root, but allow client assets
/*.jpg
/*.jpeg
/*.png
!client/src/assets/**

# Build
dist/
build/
